<div class="index_style">

  <table class="table table-condensed my_table">
    <thead>
    <tr>
      <th>
        <%= 'Image' %>
      </th>
      <th>
        <%= 'Profile name' %>
      </th>
      <th>
        <%= 'birthday' %>
      </th>
      <th>
        <%= 'biography' %>
      </th>


    </tr>
    </thead>
    <tbody>

        <tr>
          <td>
            <%= link_to image_tag(@profile.avatar.url(:thumb), class: 'media-object'), @profile.avatar.url, target: '_blank' %>
          </td>
          <td>
            <%= @profile.name %>
          </td>
          <td>
            <%= @profile.birthday %>
          </td>
          <td>
            <%= @profile.biography %>
          </td>

        </tr>

    </tbody>
  </table>

  <div>

      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-success' %>

      <%= link_to 'destroy', @profile, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger' %>

      <%= link_to 'Back', profiles_path, class: 'btn btn-info' %>

  </div>

<table class="table table-condensed my_table">
  <thead>
  <tr>
    <th>
      <%= 'Project name' %>
    </th>
    <th>
      <%= 'Description' %>
    </th>
    <th>
      <%= 'Created' %>
    </th>

  </tr>
  </thead>
  <thead>
  <tr>
    <%= @profile.projects.each do |project| %>
    <td>
      <%= project.project_name %>
    </td>
    <td>
      <%= project.description %>
    </td>
    <td>
      <%= project.created_at %>
    </td>
    <td>
          <%= link_to "Show", project_path(project) %>
      </td>
      <td>
          <%= link_to "Delete", project, method: :delete, data: { confirm: "You sure?" } %>
      </td>
      <td>
          <%= link_to "Update", project_path(project), :method => :update, :remote => true %>
      </td>
  </tr>
  </thead>
 <% end %>

</table>
</div>